*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  
  /* background: linear-gradient(315deg, #ffffff 0%, #d7e1ec); */
  font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black !important;
    height: auto;
    /* position: relative; */
}

.content {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: fixed; */
}
.about-user ,
.content-user {
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    padding: 20px 20px !important;
    margin-right: 10px;
    
}

.about-user{
  margin-right: -10px;
}

.content-img-user img {
    border-radius: 20px ;
    box-shadow: 2px 2px 16px 0px  #ccc;

    
}

.content-img-user {
    position: relative;
    
}

.content-name-user {
    position: absolute;
    background-color: #000;
    padding: 10px 10px;
    left: 0;
    bottom: 0;
    border-radius: 30px ;
    color: #fff;
    box-shadow: 2px 2px 16px 0px #ccc;
}

.content-infor-user {
    margin-top: 20px;
    width: 100%;
    background-color:#fff;
    height: auto;
    border-radius: 20px;
    padding: 24px  0px;
    box-shadow: 2px 2px 16px 8px  #ccc;

}

li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
ion-icon {
    font-size: 25px;
    margin-right: 15px;
    color :rgb(0, 0, 0);
}

.bd1 {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(228, 227, 227);
}

.bd2 {
    margin-left: 20px;
    margin-right: 20px;
}
ul {
    padding: 0px !important;
}
.cl-aqua,
h5  {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px !important;
    font-weight: 700 !important;
}

.light-gray {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    text-align: center;
}

.light-aqua {
    height: 20px;
    background-color: rgb(0, 102, 68);
    border-radius: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    

}

.mg10 > li {
    margin-bottom: 15px;
}

.container .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 10px;
  background: #ccc;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.5s ease-out;
}
.container .button .icon{
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.5s ease-out;
}
.container .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.5s ease-out;
}
.container .button  span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  /* margin-left: 10px; */
  transition: all 0.5s ease-out;
}

.container .button:hover{
  width: 180px;
}
.container .button{
  overflow: hidden;
}

.container {
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  
}

a {
  color: #000 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #000 !important;
  background-color: #ccc !important;
}

.about-user, .content-user {
 
  padding: 28px 28px !important;

}

.nav-link {
  color: #000 !important;
}

.navigation {
  height: 42px;
  border: 1px solid rgb(0, 102, 68);
  border-radius: 5px;
}

.nav {
  height: 40px !important;
}

.tab-content {
  border: 1px solid rgb(0, 102, 68);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 10px;
}
  
.big-title {
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 24px;
}

.big-title::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 90px;
  background: linear-gradient(90deg,#000000, rgb(0, 102, 68), #ccc);
  left: 0;
  bottom: 0;
  border-radius: 8px;
}

h4 {
  margin-bottom: 0px !important;
}

.product img {
  box-shadow: 2px 2px 16px 8px  #ccc;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  
}

figcaption {
  text-align: center;
  display: block;
  margin-top: 10px;
}

.product-col {
  /* width: 50%;
  float: left;
  margin-right: 5px !important; */
}

.product-w3s_theband {
  margin-right: -10px !important;
  width: 100%;
  height: auto;
  
}

.product .img:hover {
    transform: scale(1.02) ;
    cursor: pointer; 
    transition: 0.3s;
}

.tab-content {
    border: 1px solid rgb(0, 102, 68);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 10px;
    /* height: 1000px !important; */
    width: 100%;
}


























@-webkit-keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @-webkit-keyframes snowflakes-shake {
    0%,100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50% {-webkit-transform:translateX(80px);transform:translateX(80px)}
  }
  @keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @keyframes snowflakes-shake {
    0%,100%{ transform:translateX(0)}
    50% {transform:translateX(80px)}
  }
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position:fixed;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running;
  }
  .snowflake:nth-of-type(0){
    left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
  }
  .snowflake:nth-of-type(1){
    left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
  }
  .snowflake:nth-of-type(2){
    left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
  }
  .snowflake:nth-of-type(3){
    left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
  }
  .snowflake:nth-of-type(4){
    left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
  }
  .snowflake:nth-of-type(5){
    left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
  }
  .snowflake:nth-of-type(6){
    left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
  }
  .snowflake:nth-of-type(7){
    left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
  }
  .snowflake:nth-of-type(8){
    left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
  }
  .snowflake:nth-of-type(9){
    left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
  }
  .snowflake:nth-of-type(10){
    left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s
  }
  .snowflake:nth-of-type(11){
    left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }